
header {
  height: 100vh;
  background-image: url("my art site/ch1na.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  width: 600px;
  margin: 0 auto 20px;
}
